
<html> 
<header> <title>MusicPatrons.com</title> </header> 
<body>  Welcome to what will eventually become a fully featured site. <p>
I am now starting to work on this site. 
<p>
music is an awe inspiring thing, and should be shared and spread as far as it will travel.
<p>
for eons people have shared music as a way to tap into some existential beauty.
<p>
But the way music has been monetized has changed over the years.
<p>
The word monetize is dirty, but really my goal is to get rid of the term starving artist.
<p>
a patron is a person who gives financial or other support to a person. 
<p>
I believe the most common phrase is patron of the arts, but that is a pretty encapsulating word art. 
<p>
Id like to outline how people currently get paid for their creative endeavors to illuminate what really happens.
<p>
the goal being to provide a way for artists to share their art, while asking for contributions from the community.
<p>
I have a whole lot of thoughts, as Im sure others do. Ive outlined some on the blah-g but I will now actually be developing.  
<p>
and hopefully there will be something to show for it sooner than later. 
<p>
if you would like to get in touch with me, send an email to chris at musicpatrons dot com
<p>
blog.musicpatrons.com has slightly more information. I will be updating the site shortly with a django app. I am basically just playing around. 
<p> 
yes the site looks like shit at the moment, that is mildly intentional. dont want to waste time on something I wont continue to use. trying to figure out what languages to use. where I want to host what features I want to support. that sort of thing. 

<p>
<iframe width="560" height="315" src="http://www.youtube.com/embed/R6Z7xceSLy4" frameborder="0" allowfullscreen></iframe>

</body> 
</html>
