
<html> 
<header> <title>django Test</title> </header> 
<body>  Welcome to what will eventually become a fully featured site. <p>
if you would like to know more about my ideas. I will be posting a link to a google doc soon. still working on exactly what I want to say, but I suppose I can start
<p>
I think the internet is an awesome thing, and I think that certain people/groups would like to see it crippled.
<p>
music is an awe inspiring thing, and should be shared and spread as far as it will travel.
<p>
for eons people have shared music as a way to tap into some existential beauty.
<p>
the worst singers and artists were booed and had rotten things thrown at them.
<p>
but the best, were given free reign of resources to devote their lives to the music. except the unlucky undiscovereds, and the internet should help fight that.
<p>
a patron is a person who gives financial or other support to a person. 
<p>
I believe the most common phrase is patron of the arts, but that is a pretty encapsulating word art. 
<p>
anyways, Im rambling.
<p>
the point is to provide a way for artists to share their art, while asking for contributions from the community.
<p>
and while you wait forever for me to get off my ass and develop this into something
<p>
<iframe width="560" height="315" src="http://www.youtube.com/embed/R6Z7xceSLy4" frameborder="0" allowfullscreen></iframe>
<p>
<p>
if you would like to get in touch with me, send an email to chris at musicpatrons dot com
<p>
blog.musicpatrons.com has slightly more information. I will be updating the site shortly with a django app. I am basically just playing around. 
<p> 
yes the site looks like shit at the moment, that is mildly intentional. dont want to waste time on something I wont continue to use. trying to figure out what languages to use. where I want to host what features I want to support. that sort of thing. 


 </body> </html>
